.container{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100vh
}

.header{
    color: black;
    text-align: center;
    margin-top: 30px;
}

.header h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin: 0px;
}

.header p {
    font-size: 16px;
    margin: 0px;
}

.main-body{
    padding-bottom: 210px;
}

.settings {
    width: 50%;
    text-align: center;
    background-color: white;
}

.settings p, label {
    font-size: 15px;
    margin: 0px;
}

.settings p{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
}

.settings input[type="number"]{
    width: 200px;
    padding: 0px;
    text-align: center;
    margin-top: 1px;
    min-width: 7em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: all 250ms ease-in-out;
}

.user-interaction {
    display: flex;
    margin: 30px;
    justify-content: center;
}

.webCam-section {
    text-align: center;
    width: 50%;
    margin: auto;
}

.webcamButton {
    background-color: rgb(255, 140, 0);
    color: white;
    border: none;
    font-weight: 800;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4rem;
}

.webcamButton:hover {
    background-color: rgb(207, 114, 0);
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.webcam-button-container{
    padding: 0;
    
}


.button-exit-cam{
    background-color: rgb(216, 0, 0);
    color: white;
    border: none;
    font-weight: bold;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 0.1rem;
    vertical-align: top;
}

.checkbox-row{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.label-div{
    text-align: right;
    margin: 0px 10px;
    width: 100px;
}

.input-div{
    text-align: left;
    margin: 0px 10px;
}


.checkB{
    text-align: center;
}

.checkL{
    text-align: center;
}

.button-start {
    background: rgb(0, 121, 0);
    color: white;
    border: none;
    font-weight: 800;
    padding: 3px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0.4rem;
}

.button-start:hover {
    font-size: 1.4rem;
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.button-end {
    background-color: red;
    color: white;
    border: none;
    font-weight: 800;
    padding: 3px 60px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 0.4rem;
}

.button-end:hover {
    font-size: 1.4rem;
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.startButton {
    text-align: center;
}

.error-message{
    text-align: center;
    color: rgb(240, 0, 0);
    margin-top: 30px;
}

.footer-location{
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 900px) {
    .user-interaction {
        display: block;
        justify-content: center;
        margin: 30px;
    }

    .webCam-section {
        width: 100%;
    }

    .settings {
        width: 100%;
        margin-top: 30px;
    }

}